# IDE files
.zed/

# MacOS files
**/.DS_Store

openfoam/*
!openfoam/template/
!openfoam/template/**
!openfoam/arc/
!openfoam/arc/**
!openfoam/arc_no_stab/
!openfoam/arc_no_stab/**
openfoam/template/*.foam
